.navbar {
  transition: all 0.5s;
}
.main-navigation .nav-link::after,
.main-navigation .nav-link::before {
  display: inline-block;
  opacity: 0;
  transition: transform 0.3s, opacity 0.2s;
}

.main-navigation .nav-link::before {
  margin-right: 5px;
  content: '[';
  transform: translateX(20px);
}

.main-navigation .nav-link::after {
  margin-left: 5px;
  content: ']';
  transform: translateX(-20px);
}

.main-navigation .nav-link:focus::after,
.main-navigation .nav-link:focus::before,
.main-navigation .nav-link:hover::after,
.main-navigation .nav-link:hover::before {
  opacity: 1;
  transform: translateX(0);
}

.navbar.minified {
  --bs-bg-opacity: 0.4;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 0%), 0 2px 10px 0 rgb(0 0 0 / 8%);
}
