<header>
  <nav
    class="navbar navbar-expand-lg navbar-dark"
    [class.bg-dark]="scrollTop"
    [class.fixed-top]="scrollTop"
    [class.minified]="scrollTop"
  >
    <div class="container">
      <a class="navbar-brand" href="#">Container</a>
      <button
        class="navbar-toggler"
        [class.collapsed]="!expanded"
        type="button"
        (click)="onToggleClick(navbarCollapse)"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div
        #navbarCollapse
        class="navbar-collapse"
        [class.collapse]="!expanded || collapsed"
        [class.show]="collapsed || showdown"
        [class.collapsing]="collapsing"
      >
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<xxmagic-bird></xxmagic-bird>

<main>
  <div class="container">
    <xxmagic-typed></xxmagic-typed>
    <xxmagic-banner-info></xxmagic-banner-info>
  </div>
</main>

<div style="height: 999px"></div>

<div class="banner-area-gradient"></div>
<xxmagic-backstretch [images]="images"></xxmagic-backstretch>
<router-outlet></router-outlet>
