<header>
  <nav
    class="navbar navbar-expand-lg navbar-dark"
    [class.bg-dark]="scrollTop"
    [class.fixed-top]="scrollTop"
    [class.minified]="scrollTop"
  >
    <div class="container">
      <a class="navbar-brand" href="#">Container</a>
      <button
        class="navbar-toggler"
        [class.collapsed]="!expanded"
        type="button"
        (click)="onToggleClick(navbarCollapse)"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div
        #navbarCollapse
        class="navbar-collapse"
        [class.collapse]="!expanded || collapsed"
        [class.show]="collapsed || showdown"
        [class.collapsing]="collapsing"
      >
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<xxmagic-bird></xxmagic-bird>

<main>
  <div class="container">
    <div class="row">
      <xxmagic-typed class="typed-container col-11 col-md-10 col-xl-8" [stringsElement]="typedTextRef"></xxmagic-typed>
      <div class="hide" #typedTextRef>
        <div>Hi, Welcome to my page!</div>
        <div>
          I am
          <strong class="strong">"小马同学"</strong>
          , a
          <em>fullStack</em>
          engineer
        </div>
        <div>
          I love
          <strong class="strong">programming</strong>
          and enjoy
          <strong class="strong">sharing</strong>
        </div>
      </div>
      <xxmagic-banner-info class="banner-info-container col-11 col-md-10 col-xl-8"></xxmagic-banner-info>
    </div>
  </div>
</main>

<!--<div style="height: 999px"></div>-->

<div class="banner-area-gradient"></div>
<xxmagic-backstretch [images]="images"></xxmagic-backstretch>
<router-outlet></router-outlet>
